/* переключатель ролей */
.role-buttons {
  display: flex; 
  width: 100%; 
  height: 69px;
  border-radius: 10px; 
  overflow: hidden; 
  background-color: #DADADA; 
  padding: 5px; 
  margin-bottom: 35px;
}

.role-button {
  flex: 1; 
  background: #DADADA; 
  border: none; 
  cursor: pointer; 
  font-size: 24px; 
  font-weight: 500;
  color: #151515;
  transition: all 0.2s; /* Плавный переход */
}

.role-button:first-child, .role-button:last-child {
  border-radius: 10px; 
}

.role-button.active {
  background: #F3F3F3; 
  border: 1px solid #DE5A2B !important; 
  color: #151515; 
  position: relative;
  z-index: 1; 
}

.role-button:focus {
  outline: none; 
}


