.btn_user {
    border: none;
    background: transparent;
}

.whole-block {
  margin-bottom: 90px;

    h2 {
        font-size: 48px;
        font-weight: 800;
        color: #02283D;
    }
}


.task-card-modern {
  background: #fff;
  border: 1px solid #919191;
  border-radius: 10px;
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.task-title-modern {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  margin: 0 0 5px 0;
  flex: 1;
}

.task-category-modern {
  color: #656565;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.task-details {
  flex-grow: 1;
  margin-bottom: 20px;
}

.detail-item {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #656565;
  display: flex;
  align-items: center;
}

.btn-detail {
  width: 40%;
  background: #fff;
  color: #919191;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  /* align-items: center; */
  text-decoration: none;
  gap: 8px;
  transition: background 0.3s;
}

.btn-detail svg {
  transition: transform 0.3s;
}

.btn-detail:hover svg {
  transform: translateX(4px);
}


/* блок "Для кого наша платформа"*/
.executor-types-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
  margin-top: 40px;
  padding-right: 15px;
}

.executor-row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.executor-card {
  height: 326px;
  position: relative;
  background: #FAFAFA;
  border: 2px solid #DCE6EB;
  border-radius: 15px;
  padding: 25px 25px 10px 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ширины карточек */
.width-40 { flex: 0 0 40%; }
.width-60 { flex: 0 0 60%; }

.executor-card__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.executor-card__title {
  font-size: 32px;
  font-weight: 600;
  color: #02283D;
}

.executor-card__description {
  font-size: 24px;
  color: #656565;
  line-height: 1.2;
  margin-top: auto;
}

.executor-card__icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}



/* блок преимущества */
/* верхняя строка: три равных блока */
.benefits-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.benefit-card {
  height: 328px;
  flex: 1;
  background: #FAFAFA;
  border: 2px solid #DCE6EB;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.benefit-card h3 {
  font-size: 32px;
  font-weight: 600;
  color: #02283D;
}

.benefit-icon {
  position: absolute;
  top: 25px;
  right: 25px;
}

.benefit-card p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: #656565;
  margin-top: auto;
  margin-bottom: 0;
}

/* нижний блок на всю ширину */
.call-to-action {
  height: 159px;
  background: #FAFAFA;
  border: none;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cta-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: #02283D;
  margin: 0;
}

.cta-text p {
  font-size: 24px;
  color: #656565;
  margin: 0 0 5px 0;
}

.cta-icon {
  position: absolute;
  top: 0;
  right: 22%;
}

.cta2-icon {
  position: absolute;
  top: 0;
  right: 9%;
}

/* Адаптивность для мобильных */
@media (max-width: 900px) {
  .benefits-grid {
    flex-direction: column;
  }
  
  .call-to-action {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
  
  .cta-icon {
    order: -1;
  }
}