.btn_user {
    border: none;
    background: transparent;
}

.whole-block {
  margin-bottom: 90px;

    h2 {
        font-size: 48px;
        font-weight: 700;
        color: #151515;
    }


}


.task-card-modern {
  background: #fff;
  border: 1px solid #02283D;
  border-radius: 10px;
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.task-title-modern {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  margin: 0 0 5px 0;
  flex: 1;
}

.task-category-modern {
  color: #656565;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.task-details {
  flex-grow: 1;
  margin-bottom: 20px;
}

.detail-item {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #656565;
  display: flex;
  align-items: center;
}

.btn-detail {
  width: 40%;
  background: #fff;
  color: #02283D;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  /* align-items: center; */
  text-decoration: none;
  gap: 8px;
  transition: background 0.3s;
}

.btn-detail svg {
  transition: transform 0.3s;
}

.btn-detail:hover svg {
  transform: translateX(4px);
}


/* блок "Для кого наша платформа"*/
.executor-types-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
  margin-top: 40px;
  padding-right: 15px;
}

.executor-row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.executor-card {
  height: 326px;
  position: relative;
  background: #ffffff;
  border: 2px solid #02283D;
  border-radius: 15px;
  padding: 25px 25px 10px 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ширины карточек */
.width-40 { flex: 0 0 40%; }
.width-60 { flex: 0 0 60%; }

.executor-card__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.executor-card__title {
  font-size: 32px;
  font-weight: 600;
  color: #02283D;
}

.executor-card__description {
  font-size: 24px;
  color: #656565;
  line-height: 1.2;
  margin-top: auto;
}

.executor-card__icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}



