.full-container {
    font-family: 'Wix Madefor Display', sans-serif;
    padding-left: 110px;
    padding-right: 110px;
    box-sizing: border-box;
}

.main-container {
    overflow: hidden;

    .back_on_top {
        width: 100%;
    }
}

.first-block {
    position: relative;
    margin-top: 113px;
    width: 100%;
    overflow: hidden;

    h1 {
        position: absolute;
        top: 220px;
        left: 40px;
        width: 754px;
        font-size: 64px;
        font-weight: 600;
        color: #ffffff;
        text-align: left;
    }

    p {
        position: absolute;
        top: 492px;
        left: 40px;
        width: 565px;
        font-size: 32px;
        font-weight: 300;
        color: #ffffff;
        text-align: left;
        line-height: 1.3;
    }

}

/* кнопка чата */
.icon_conn {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background: transparent;
}

/* инпут с поиском */
.search-container {
    position: absolute;
    width: 72%;
    bottom: 8%;
    left: 40px;
}
.search-input {
    width: 100%;
    height: 84px;
    border: 2px solid #CA5931;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: border-box;
}
.search-input::placeholder {
    color: #000000CF;
    font-size: 24px;
    color: #656565;
    padding-left: 40px;
}
.search-icon {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
}


.btn-search {
    position: absolute;
    bottom: 8%;
    right: 40px;
    width: 22%;
    height: 84px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #DE5A2B;
    font-size: 24px;
    font-weight: 600;
}


.separator {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 39px; */
    margin-top: -17px;
}


.second-block {
    margin: 140px 0 10px 0;

    .ready-solution {
        padding-left: 41px;
        padding-right: 41px;
        background-color:#DE5A2B;
        height: 180px;
        width: 100%;
        border-radius: 10px;
        clip-path: polygon(0 0, 95% 0, 100% 40%, 100% 100%, 0 100%);
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ready-solution__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .ready-solution__header {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 5px;
    }

    .ready-solution__title {
        font-size: 36px;
        font-weight: 500;
        color: #ffffff;
    }

    .ready-solution__text {
        font-family: 'Wix Madefor Text', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        width: 621px;
        text-align: left;
        line-height: 1.3;
        margin-left: 97px;
    }

    .ready-solution__button {
        width: 354px;
        height: 73px;
        background-color: #F1EEEE;
        color: #873417;
        font-size: 24px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        margin-right: 70px;
    }
}




/* блок "быстро бесплатно безопасно" */
.fast-free-safe {
    padding-top: 20px;
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    justify-content: space-between;


        h3 {
            font-size: 36px;
            font-weight: 600;
            text-align: left;
            color: #ffffff;
            position: absolute;
            top: 32px;
            left: 37px;
        }
        p {
            font-family: 'Wix Madefor Text', sans-serif;
            font-size: 24px;
            width: 383px;
            text-align: left;
            color: #ffffff;
            line-height: 1.3;
            position: absolute;
            left: 37px;
            top: 176px;
        }


    .fast {
        position: relative;
        /* width: 553px; */

        .fast__img {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .free {
        position: relative;
        /* width: 555px; */

        .free__img {
            position: absolute;
            top: 20px;
            right: 0;
        }

        p {
            width: 473px;
        }
    }

    .safe {
        position: relative;
        /* width: 552px; */
        
        .safe__img {
            position: absolute;
            top: 0;
            right: 55px;
        }

        p {
            width: 462px;
        }
    }
}


/* блок "что нужно сделать?" */
.work-options {
    margin-top: 105px;
    margin-bottom: 105px;

    h1 {
        font-size: 52px;
        font-weight: 700;
        color: #151515;
        text-align: left;
        margin-bottom: 40px;
    }
}

.block-large {
    height: 235px;
    min-width: 1020px;
    grid-column: span 4;
    border-radius: 5px;
    background: #F3F3F3;
    box-shadow: 0px 3px 6.7px rgba(0, 0, 0, 0.18);
    padding-left: 40px;
    padding-top: 30px;
    color: #151515;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;

    h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        top: 30px;
    }

    p {
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        margin-top: 12px;
    }

    .img-house {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.block-large:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 6.7px rgba(0, 0, 0, 0.18);
}

.blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px 20px;
    justify-content: center;
    align-items: start;
}

.block {
    border-radius: 5px;
    background: #F3F3F3;
    box-shadow: 0px 3px 6.7px rgba(0, 0, 0, 0.18);
    padding-left: 28px;
    padding-top: 28px;
    position: relative;
    width: 405px;
    height: 277px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    h3 {
       font-size: 32px;
       font-weight: 600;
       color: #151515; 
       text-align: left;
       margin-bottom: 0;
    }

    p {
        font-size: 20px;
        text-align: left;
    }

    .img-block {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 60%; /* Ограничиваем размер изображения */
        height: auto;
        pointer-events: none;
    }
}
.block:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 6.7px rgba(0, 0, 0, 0.18);
}

.block.dark {
    background: #02283D;
    color: #ffffff;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    h3 {
        color: #ffffff;
    }

    p {
        font-size: 24px;
        font-weight: 500;
        margin-top: 138px;
    }
}


/* блок этапов работы */
.work-stages {
    margin-bottom: 79px;
    position: relative;

    line-of-stages {
        width: 100%;
        height: 16px;
    }

    .stages-numbers {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }

    .stage1, .stage2, .stage3, .stage-final {  
        width: 54px;
    }

    h1 {
        font-size: 52px;
        font-weight: 700;
        color: #151515;
        text-align: left;
        margin-bottom: 44px;
    }

    img {
        width: 100%;
        margin-bottom: 55px;
    }

    .stages-text {
        display: flex;
        justify-content: space-between;

        h3 {
            font-family: 'Wix Madefor Text', sans-serif;
            font-size: 36px;
            font-weight: 600;
            color: #000000;
            text-align: left;
            margin-bottom: 20px;
        }

        p {
            font-family: 'Wix Madefor Text', sans-serif;
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            line-height: 1.2;
        }
    }
}


/* блок связи с менеджером */
.manager-connect {
    width: 100%;
    height: 163px;
    background-image: url('../../assets/Main/rect-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;  

    .manager-connect__icon {
        text-align: left;
        margin-left: 31px;
        margin-top: 46px;
    }

    .manager-connect__text {
        font-family: 'Wix Madefor Text', sans-serif;
        color: #ffffff;
        margin-left: 16px;
        text-align: left;


        h3 {
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 37px;
        }

        p {
            font-size: 24px;
            margin-top: 5px;
        }
    }

    .manager-connect__pics {
        .gear2 {
            vertical-align: top;
            margin-right: -40px;
        }
        .gear3 {
            margin-top: 25px;
        }
    }

    button {
        width: 393px;
        height: 73px;
        background: #ffffff;
        color: #873417;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 600;
        align-self: center;
        margin-right: 50px;
        margin-left: 34px;
    }
}


/* блок оставления заявки */
.request {
    background-image: url('../../assets/Main/rect-blue-long.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* или contain */
    background-position: center;
    height: 453px;
    width: 100%;
    border-radius: 10px;
    padding-left: 38px;
    padding-top: 45px;
    margin-bottom: 130px;
    position: relative;

    h2 {
        font-size: 52px;
        font-weight: 700;
        color: #ffffff;
        margin-left: 0;
        margin-bottom: 5px;
        text-align: left;
    }
    p {
        font-size: 36px;
        font-weight: 500;
        color: #ffffff;
        text-align: left;
    }

    button {
        width: 986px;
        height: 101px;
        background: #F1EEEE;
        color: #02283D;
        font-size: 36px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        margin-top: 130px;
    }

    img {
        position: absolute;
        top: 5px;
        right: -30px;
    }
}



/* мобильная адаптация */
@media (max-width: 768px) {
    .full-container {
        padding: 0;
    }

    .first-block {
        padding: 0;
        position: relative;
    }

    .back_on_top {
        content: url('../../assets/Main/back-mobile.png');
        filter: brightness(0.4);
        width: 100%;
        min-height: 448px;
    }

    .icon_conn {
        position: absolute;
        top: 2.5vh;
        right: 1vh;

        img {
            width: 44px;
        }
    }

    .location-wrapper {
        position: absolute !important;
        top: 1h !important;
        left: 0 !important;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .location-icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }

    .first-block h1 {
        font-size: 28px;
        font-weight: 700;
        width: 80%;
        margin: 3vh 0 0 -20px;
    }

    .first-block p {
        display: none;
    }

    .search-container {
        width: 90%;
        margin: 0 20px -10px -20px;
    }
    .search-input::placeholder {
        font-size: 16px;
        padding-left: 0;
    }
    .search-input {
        height: 62px;
        font-size: 16px;
        font-weight: 500;
        padding-left: 20px;
        padding-right: 60px;
    }
    .search-icon {
        width: 15px;
        position: absolute;
        left: 90%;
        top: 50%;
        transform: translateY(-50%);
    }

    .btn-search {
        display: none;
    }

    .separator {
        content: url('../../assets/Main/bw_separator_mobile.svg');
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        margin-top: -10px;
    }

}