.footer--registr {
    position: relative;
    width: 100%;
    bottom: 0;
}
.reg-container {
  padding-top: 150px; 
  margin-bottom: 158px;
  flex: 1; 
  display: flex;
  min-height: calc(100vh - 920px);
}

.registr-container {
  width: 844px;
  height: 579px;
  margin: 0 auto;
  padding: 45px 65px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 3px solid #DE5A2B;
  font-family: 'Wix Madefor Display', sans-serif;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
    position: relative;
    color: #151515;
}

.login-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #151515;
  margin: 0;
}

.btn-back {
    border: none;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #fff;
}

/* "У вас еще нет аккаунта?" */
.register-link {
  text-align: center;
  font-size: 20px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

/* "Зарегистрироваться" */
.register-here {
  color: #DE5A2B;
  text-underline-offset: 4px; 
}

.register-here:hover {
  color: #db0707;
}

 
/* Форма ввода кода */
/* Сообщение об ошибке */
.error-message {
  color: #ff4444;
  font-size: 16px;
  margin-top: 5px;
}

/* Превью номера телефона */
.phone-preview {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
  font-weight: normal;
}

/* Поля для ввода кода */
.code-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.code-input {
  width: 163px;
  height: 66px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ECA288;
  border-radius: 10px;
  background-color: #F3F3F3;
}

.code-input:focus {
  border-color: #e78764;
  outline: none;
  box-shadow: 0 0 0 2px rgba(236, 162, 136, 0.2);
}

/* Повторная отправка кода */
.resend-code {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

.resend-link {
  background: none;
  border: none;
  color: #000000B2;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px; 
}

.resend-link:hover {
  color: #000000;
}

/* инпут номера телефона */
.form-group {
  margin-bottom: 50px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

/* инпут номера телефона */
.custom-phone-input {
  height: 55px !important;
  background-color: #F3F3F3 !important;
  border: 1px solid #ECA288 !important;
  border-radius: 10px !important;
  padding: 0 16px !important;
  width: 100% !important;
  font-size: 20px !important;
  outline: none !important;
}

.country-selector-button {
  background-color: #fff !important;
  border: none !important;
  height: 53px !important;
  margin-right: 5px !important;
}

/* выпадающий список стран */
.PhoneInputCountrySelect {
  background-color: #F3F3F3 !important;
  border: 1px solid #ECA288 !important;
}

.PhoneInputCountryOption {
  background-color: #F3F3F3 !important;
  color: #333 !important;
}


/* поле ввода */
.PhoneInputInput {
  background-color: #F3F3F3 !important;
  border: none !important;
  outline: none !important;
  font-size: 20px !important;
  color: #000000 !important;
}

.custom-phone-input:focus,
.custom-phone-input:focus-within {
  border-color: #ECA288 !important;
  box-shadow: 0 0 0 2px rgba(236, 162, 136, 0.2) !important;
}




/* кнопка "Продолжить" */
.continue-button {
  width: 100%;
  height: 70px;
  background: #DE5A2B;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

.continue-button.disabled {
  background-color: #ECA288;
  cursor: not-allowed;
  opacity: 0.6;
}


/* 2 этап */
/* поля ввода */
.input-fields {
  h3 {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
  }

  input {
    height: 55px;
    width: 100%;
    border: 1px solid #ECA288;
    border-radius: 10px;
    padding: 0 25px 0 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #F4F5F5;
  }

  input::placeholder{
    font-size: 20px;
  }

  input:focus {
    border-color: #ECA288 !important;
    box-shadow: 0 0 0 2px rgba(236, 162, 136, 0.2) !important;
    outline: none;
  }
}


/* checkbox с политикой конф */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.checkbox-wrapper:hover {
  background-color: #f9f9f9;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 3px solid #ECA288;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
  background-color: white;
  position: relative;
}

.custom-checkbox:hover {
  border-color: #DE5A2B;
}

.custom-checkbox.checked {
  border-color: #DE5A2B;
}

.inner-square {
  width: 10px;
  height: 10px;
  background-color: #DE5A2B;
  border-radius: 2px;
  display: block;
}


.checkmark {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.checkbox-text {
  font-size: 16px;
  color: #000000B2;
}

/* ссылка на политику конф */
.policy-link {
  color: inherit; 
  text-decoration: underline;
  text-underline-offset: 5px; 
}

.policy-link:hover {
  opacity: 0.8;
}


/* шкала этапов для полной регистрации */
.registr-scale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  p {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
  }

  img {
    margin-top: -14px;
  }
}



/* 3 этап - паспорт */
.passport-details {
  h2 {
    font-size: 32px;
    font-weight: 600;
    color: #151515;
    margin-bottom: 35px;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
    color: 000000;
  }
}

/* Стили для выбора страны (checkbox)*/
.country-selection {
  margin-top: 25px;
}

.radio-option {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.radio-option input[type="radio"] {
  margin-right: 10px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  accent-color: #DE5A2B;
}

/* Кастомные стили для радиобаттона для лучшей поддержки браузеров */
.radio-option input[type="radio"]:checked {
  background-color: #DE5A2B;
  border-color: #DE5A2B;
}

.radio-option label {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  margin: 0;
}

.country-input-container {
  width: 100%;
}

.country-input {
  width: 100%;
  height: 97px;
  padding: 18px;
  border-radius: 10px;
  font-size: 20px;
  color: #4B4B4B;
  background-color: #F4F5F5;
  border: none;
  box-sizing: border-box;
  resize: none;
}

.country-input:focus {
  outline: none;
  border: 1px solid #cdcfcf; 
}

.country-input:disabled {
  background-color: #f8f9fa;
  color: #6c757d;
  cursor: not-allowed;
  border-color: #e9ecef;
}

.country-input::placeholder {
  color: #4B4B4B;
  opacity: 0.8;
}

/* ошибка формата даты */
.passport-field input.error {
  border-color: #ff4444;
  box-shadow: 0 0 0 2px rgba(255, 68, 68, 0.2);
}


/* поля ввода паспортных данных */
.passport-fields-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
}

.passport-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.passport-field {
    display: flex;
    flex-direction: column;

    p {
      font-size: 16px;
      color: #000000B2;
      line-height: 1.2;
      margin-top: 10px;
      margin-bottom: 0;
    }
}

.passport-field h3 {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.passport-field input {
    height: 55px;
    width: 100%;
    border: 1px solid #ECA288;
    border-radius: 10px;
    padding: 0 18px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #F4F5F5;
    box-sizing: border-box;
}

.passport-field input::placeholder {
    color: #4B4B4B;
    opacity: 0.7;
    font-size: 18px;
}

.passport-field input:focus {
    border-color: #DE5A2B;
    outline: none;
}

.passport-field.full-width {
  grid-column: 1 / -1;
  width: 100%;
}



/* 4 этап */
/* переключатель ИП/самозанятый */
.role-switcher {
  display: flex;
  background: transparent;
  position: relative;
  width: 100%;
  margin: 15px 0;
}

.role-option {
  flex: 1;
  padding-bottom: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  color: #656565;
  position: relative;
  text-align: center;
}

.role-option.active {
  border-bottom: 2px solid #DE5A2B;
  color: #151515
}

.role-slider {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #DE5A2B;
  z-index: 1;
}

/* Позиции слайдера */
.role-switcher .role-option:nth-child(1).active ~ .role-slider {
  left: 0;
  width: 50%;
}

.role-switcher .role-option:nth-child(2).active ~ .role-slider {
  left: 50%;
  width: 50%;
}



/* 6 этап */
.btn-plus {
  display: flex;
  justify-content: end;

  button {
    margin-top: 15px;
    width: 198px;
    height: 55px;
    color: #DE5A2B;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #DE5A2B;
    border-radius: 7px;
    background-color: #fff;

    img {
      margin-right: 10px;
      margin-left: -5px;
      width: 18px;
      height: 18px;
    }
  }
}



/* 7 этап */
/* затемнённый фон */
.modal-overlay {
    font-family: 'Wix Madefor Display', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

.modal-content {
    max-width: 840px; 
    height: auto;
    max-height: calc(90vh - 140px);
    overflow-y: auto;
    background-color: #fff !important; 
    border-radius: 10px !important; 
    border: 2px solid #DE5A2B !important;
    padding: 70px 106px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    box-sizing: border-box;
    z-index: 2000;
}

/* заголовок модалки */
.modal-content h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #000;
}

/* кнопка закрытия */
.modal-close {
    position: absolute;
    top: 19px;
    right: 20px;
    background: transparent;
    border: none;
}

/* кнопки соцсетей */
.social-buttons {
    display: flex;
    gap: 20px;
    height: 90px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #F4F5F5;
}

.btn-social {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    font-weight: 500;
    color: #151515;
    gap: 5px;
    border: 2px solid transparent;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.btn-social:hover {
    background-color: #eca38833;
}


.btn-social.selected {
    border: 2px solid #DE5A2B;
}



/* кнопка сохранить */
.save-button {
    height: 79px;
    background-color: #DE5A2B;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 15px;
}

.save-button.disabled {
  background-color: #ECA288;
  cursor: not-allowed;
  opacity: 0.6;
}

