.footer--registr {
    position: relative;
    width: 100%;
    bottom: 0;
}
.reg-container {
  padding-top: 150px; 
  margin-bottom: 158px;
  flex: 1; 
  display: flex;
  min-height: calc(100vh - 920px);
}

.registr-container {
  width: 844px;
  height: 579px;
  margin: 0 auto;
  padding: 45px 65px;
  background: #F3F3F3;
  border-radius: 10px;
  box-shadow: 0px 3px 6.7px 0px #0000002E;
  font-family: 'Wix Madefor Display', sans-serif;
}

/* инпут номера телефона */
.form-group {
  margin-bottom: 50px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

/* инпут номера телефона */
.custom-phone-input {
  height: 55px !important;
  background-color: #F3F3F3 !important;
  border: 1px solid #ECA288 !important;
  border-radius: 10px !important;
  padding: 0 16px !important;
  width: 100% !important;
  font-size: 20px !important;
  outline: none !important;
}

.country-selector-button {
  background-color: #F3F3F3 !important;
  border: none !important;
  height: 53px !important;
  margin-right: 5px !important;
}

/* выпадающий список стран */
.PhoneInputCountrySelect {
  background-color: #F3F3F3 !important;
  border: 1px solid #ECA288 !important;
}

.PhoneInputCountryOption {
  background-color: #F3F3F3 !important;
  color: #333 !important;
}


/* поле ввода */
.PhoneInputInput {
  background-color: #F3F3F3 !important;
  border: none !important;
  outline: none !important;
  font-size: 20px !important;
  color: #000000 !important;
}

.custom-phone-input:focus,
.custom-phone-input:focus-within {
  border-color: #ECA288 !important;
  box-shadow: 0 0 0 2px rgba(236, 162, 136, 0.2) !important;
}




/* кнопка "Продолжить" */
.continue-button {
  width: 100%;
  height: 70px;
  background: #DE5A2B;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}


/* поля ввода */
.input-fields {
  h3 {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
  }

  input {
    height: 55px;
    width: 100%;
    border: 1px solid #ECA288;
    border-radius: 10px;
    padding: 0 25px 0 25px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }

  input::placeholder{
    font-size: 20px;
  }

  input:focus {
    border-color: #ECA288 !important;
    box-shadow: 0 0 0 2px rgba(236, 162, 136, 0.2) !important;
    outline: none;
  }
}


/* checkbox с политикой конф */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.checkbox-wrapper:hover {
  background-color: #f9f9f9;
}

.custom-checkbox {
  width: 21px;
  height: 21px;
  border: 3px solid #919191;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.custom-checkbox.checked {
  background: #ECA288;
  border-color: #ECA288;
}

.checkmark {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.checkbox-text {
  font-size: 16px;
  color: #000000B2;
}

/* ссылка на политику конф */
.policy-link {
  color: inherit; 
  text-decoration: underline;
  text-underline-offset: 2px; 
}

.policy-link:hover {
  opacity: 0.8;
}


/* шкала этапов для полной регистрации */
.registr-scale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  p {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
  }

  img {
    margin-top: -14px;
  }
}