/* Стили для контейнера SimpleBar */
.TownSelector__content .simplebar-track.simplebar-vertical {
  width: 6px;
  right: 15px;
  top: 15px;
  bottom: 10px;
  background-color: transparent;
}

/* Стили для линии (шкалы) */
.TownSelector__content .simplebar-track.simplebar-vertical::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 1px;
  bottom: 0;
  width: 6px;
  background-color: #ECA28880;
  border-radius: 3px;
}

/* Стили для ползунка */
.TownSelector__content .simplebar-scrollbar.simplebar-visible::before {
  opacity: 4;
  visibility: visible;
  background-color: #ECA288;
  height: 30px;
}

.TownSelector__content .simplebar-scrollbar .simplebar-scrollbar-thumb {
  background-color: #ECA288;
  border-radius: 10px;
  width: 100%;
}

/* Убедитесь, что ползунок всегда виден */
.TownSelector__content .simplebar-scrollbar {
  width: 6px;
}
