.promo-banner {
  height: 200px;
  background: linear-gradient(88.2deg, #02283D 1.52%, #134E6D 103.21%);
  border-radius: 10px;
  margin: 120px 0 0 0;
  overflow: hidden;
 clip-path: polygon(0 0, 95% 0, 100% 40%, 100% 100%, 0 100%);
}

.promo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  position: relative;
  min-height: 100%;
  flex-wrap: wrap;
}

.promo-text {
  color: white;
  flex: 1;
  min-width: 300px;
}

.promo-text h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.promo-text p {
  font-size: 24px;
  margin: 0;
}

.gear {
  position: absolute;
}

.gear-large {
  top: 20%;
  right: 35%;
}

.gear-small {
  top: 0;
  right: 50%;
}

.promo-button {
  width: 27%;
  height: 80px;
  background: white;
  color: #262E32;
  border: none;
  border-radius: 7px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 30px;
}


/* ===== ФОРМА СОЗДАНИЯ ЗАКАЗА ===== */
.create-order-form {
  max-width: 800px;
  margin: 140px auto 0;
  padding: 45px;
  background: #ffffff;
  border: 1px solid #919191;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

/* Кнопка "назад" */
.create-order-form .back-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: fit-content;
  position: absolute;
  top: 50px;
  left: 45px;
}


/* Заголовок */
.create-order-form h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
  text-align: center;
}

/* Уменьшаем отступ сверху у выпадающего списка RegistrSelector */
.registr-selector .dropdown-wrapper {
  margin-top: 30px !important; 
}





/* ===== CHECKBOX ===== */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid #02283D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox.checked {
  background: #02283D;
}

.custom-checkbox.checked::after {
  content: '';
  width: 10px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}

/* ===== RADIO ===== */

.radio-option {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  cursor: pointer;
}

.radio-option input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* ===== FILE UPLOAD ===== */

.create-order-form .file-upload {
  margin-top: 10px;
}


