.profile-tabs-container {
  width: 100%;
  margin: 0 auto;
  position: relative;

}

.profile-tabs {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  justify-content: space-around;
}
.profile-tabs::-webkit-scrollbar {
  display: none;
}

.tab-button {
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.tab-button:hover {
  background: #f0f0f0;
}

.tab-button.active {
  position: relative;
  display: inline-block;       
  height: 78px;          
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 410 78' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><path d='M10 1.5H368.251C370.469 1.50006 372.599 2.36717 374.187 3.91602L405.03 34.0078H405.031C406.671 35.6074 407.595 37.8013 407.595 40.0918V68C407.595 72.6944 403.789 76.5 399.095 76.5H10C5.30558 76.5 1.5 72.6944 1.5 68V10C1.5 5.30558 5.30558 1.5 10 1.5Z' fill='white' stroke='%23DE5A2B' stroke-width='3'/></svg>")
    center / 100% 100% no-repeat;
  color: black;
  font-weight: bold;
  text-align: center;          
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.tab-icon {
  margin-right: 15px;
}


/* все картточки */
.profileContainer {
  width: 100%;
  margin-top: 30px;
}

.headerBlock {
  position: relative;
  background: white;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1701 181' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.001 0.5H1644.32C1646.85 0.50013 1649.28 1.51431 1651.07 3.31641L1697.23 49.9453C1698.98 51.7149 1699.97 54.1017 1699.98 56.5918L1700.43 170.828C1700.45 176.089 1696.19 180.366 1690.93 180.366H10.4521C5.2159 180.366 0.966846 176.129 0.952148 170.893L0.500977 10.0264C0.486381 4.7694 4.74395 0.5 10.001 0.5Z' fill='white' stroke='%23919191'/></svg>")
    center / 100% 100% no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-width: 1600px;
  max-width: 2500px;
  overflow: visible;
  margin-bottom: 20px;
}

.headerContent {
  position: relative;
  z-index: 10;
  padding: 35px;
  display: flex;
  align-items: center;
  gap: 27px;
}

.avatarWrapper {
  position: relative;

  .img_edit_avatar {
    position: absolute;
    top: -17px;
    right: -17px;
  }
}

.headerText h1 {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  margin: 15px 0 0 0;
}

.headerText p {
  margin-top: 4px;
  font-size: 24px;
  color: #656565;
}


.gridContainer {
  display: grid;
  grid-template-columns: 35fr 65fr;
  gap: 20px;
  margin-bottom: 20px;
}

.gridContainer2 {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  border: 1px solid #919191;
  padding: 35px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cardTitle {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

.editButton {
  margin-left: auto;
  border: none;
  background: none;
}

.field {
  margin-bottom: 20px;
}

.fieldLabel {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 3px;
}

.fieldValue {
  font-size: 20px;
  font-weight: 500;
  color: #656565;
}


.ratingRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  color: #656565;
}


.reviewCard {
  background: #f9fafb;
  border-radius: 8px;
  padding: 35px 25px;
  margin-bottom: 16px;
}

.reviewAvatar {
  width: 34px;
  height: 34px;
  background: #D9D9D9;
  border-radius: 7%;
  flex-shrink: 0;
}

.reviewAuthor {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.reviewText {
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.reviewDate {
  color: #656565;
  font-size: 16px;
}


.actionLink {
  display: block;
  color: #02283D;
  font-size: 24px;
  font-weight: 600;
  text-underline-offset: 4px; 
}


.logoutLink {
  color: #000;
  font-weight: 500;
  margin-top: 5px;
}


/* модалка */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-modal-content {
  background: white;
  border-radius: 10px;
  width: 750px;
  padding: 35px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal-header h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #000;
}

.modal-close-btn {
  background: none;
  border: none;
}

.modal-buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 50px;
}

.btn-cancel_,
.btn-save_ {
  border-radius: 7px;
  height: 70px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.btn-cancel_ {
  background: white;
  border: 2px solid #02283D;
  width: 30%;
}

.btn-save_ {
  background: #de5a2b;
  color: white;
  border: none;
  width: 70%;
}

.btn-save_.disabled {
  background-color: #ECA288;
  cursor: not-allowed;
  opacity: 0.6;
}
