.headerContainer {
    font-family: 'Wix Madefor Display', sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    padding-top: 39px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-logo {
    margin-right: auto;
}

.header-items {
    display: flex;
    margin-left: 141px;
    gap: 70px;
    font-size: 24px;
    font-weight: 500;
    color: #151515;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.location-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.btn-orange {
    width: 280px;
    height: 61px;
    background-color: #DE5A2B;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}

/* скрываем кнопку меню на десктопе */
.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Мобильная версия 320px */
@media (max-width: 767px) {
    .headerContainer {
        padding: 10px 15px !important;
        flex-wrap: nowrap;
        align-items: center;
        height: 60px;
        justify-content: space-between;
    }

    .header-left {
        flex: 0 0 auto;
    }

    .header-logo {
        width: 50px;
        height: auto;
        margin-right: 0;
    }

    .header-items {
        display: none;
        position: absolute;
        top: 100%;
        right: 15px; 
        left: auto;
        width: 110px; 
        background: white;
        flex-direction: column;
        padding: 5px; 
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        gap: 0; 
        border-radius: 5px; 
    }

    .header-items.mobile-open {
        display: flex;
    }

    .header-items a {
        padding: 3px 10px;
        font-size: 12px;
    }

    .header-items a:not(:last-child) {
        border-bottom: 1px solid #eee; /* Граница снизу у всех, кроме последнего */
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: auto;
    }

    .location-wrapper {
        display: none; 
    }

    .location-icon {
        width: 16px !important;
        height: 16px !important;
    }

    .btn-orange {
        display: block !important; 
        width: 70px !important;
        height: 30px !important;
        font-size: 12px !important;
        margin: 0 !important;
        padding: 5px !important;
    }

    .mobile-menu-btn {
        display: block;
        font-size: 20px;
        margin-left: 10px;
        order: 2;
    }

    /* Скрываем десктопный контент */
    .header-items:not(.mobile-open) {
        display: none;
    }
}

