.headerContainer {
    font-family: 'Wix Madefor Display', sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    padding: 25px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-logo {
    margin-right: auto;
    cursor: pointer;
}

.header-items {
    display: flex;
    margin-left: 141px;
    gap: 70px;
    font-size: 24px;
    font-weight: 500;
    color: #151515;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.location-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.btn-orange {
    width: 280px;
    height: 61px;
    background-color: #DE5A2B;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}

/* скрываем кнопку меню на десктопе */
.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


/* мобильная адаптация */
@media (max-width: 768px) {
    .headerContainer {
        padding: 56px 25px 26px 25px;
    }

    .header-items, .location-wrapper {
        display: none !important;
    }

    .header-logo {
        width: 87px;
        height: auto;
        
    }

    .btn-orange {
        max-height: 40px;
        max-width: 103px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
    }

    .mobile-menu-btn {
        display: block;
        max-height: 40px;
        width: 45px;
        background-color: #F4F5F5;
        border-radius: 5px;
        color: #000;
        font-weight: 600;
    }

    .header-right {
        gap: 15px;
    }
}