.footer {
    font-family: 'Wix Madefor Display', sans-serif;
    position: relative;
    height: 683px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.separator2 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: -39px;
    height: 39px;
    object-fit: cover;
}



.black-block {
    height: 100%;
    width: 100%;
    background: #0F242F;
    padding-left: 70px;
    padding-top: 79px;
}

.black-block__title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    gap: 38px;
    align-items: baseline;

    p {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

.three-columns {
    margin-top: 40px;
}

.first-column {
    display: flex;
    flex-direction: column;
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #919191;
    text-align: left;
    line-height: 2.3;

    p {
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.second-column {
    display: flex;
    flex-direction: column;
    margin-left: 250px;

    p {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        text-align: left;
        margin-bottom: 0;
    }

    .btn-white {
        width: 247px;
        height: 49px;
        border: none;
        border-radius: 7px;
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        background: #ffffff;
        margin-top: 15px;
    }

    .btn-blue {
        width: 247px;
        height: 49px;
        border: 2px solid #ffffff;
        background-color: #0F242F;
        border-radius: 7px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        margin-top: 14px;
    }
}

.third-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 200px;

    p {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        text-align: left;
        margin-bottom: 0;
    }

    .btn-support {
        width: 345px;
        height: 49px;
        border: none;
        border-radius: 7px;
        font-size: 20px;
        font-weight: 500;
        color: #000;
        margin-top: 20px;
    }

    .btn-soc-network {
        background: #ffffff;
        width: 55px;
        height: 55px;
        border: none;
        border-radius: 7px;
        margin-right: 12px;
        margin-top: 69px;
    }
}

.img-gear {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* МОБИЛКА */
@media (max-width: 768px) {
    .footer {
        height: 716px;
    }

    .separator2 {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 14px;
        margin-top: -14px;
    }

    .black-block {
        padding-left: 20px;
        padding-top: 40px;
    }

    .black-block__title {
        font-size: 32px;
        gap: 20px;

        img {
            width: 91px;
        }

        p {
            font-size: 16px;
            gap: 4px;

            img {
                width: 21px;
            }
        }
    }

    .three-columns {
        margin-top: 10px;
        flex-direction: column !important;
    }

    .first-column {
        font-size: 16px;
        color: #919191;
        line-height: 2.2;


        p {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }

    .second-column {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px 0 0 0;

         > div {
            width: 50%; /* каждая колонка занимает половину */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0;
        }

        .btn-white {
            width: 85%;
            height: 46px;
            border-radius: 7px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 5px;
            line-height: 1;
        }

        .btn-black {
            width: 85%;
            height: 46px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
        }
    }

    .third-column {
        margin-left: 0;

        p {
            font-size: 20px;
            font-weight: 500;
            margin-top: 30px;
        }

        .btn-support {
            width: 70%;
            height: 46px;
            border-radius: 7px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 5px;
        }

        .group-buttons {
            display: flex;
            justify-content: right;
            margin-right: 10px;
        }

        .btn-soc-network {
            background: #ffffff;
            width: 44px;
            height: 44px;
            border-radius: 7px;
            margin-right: 12px;
            margin-top: 15px;
            

            img {
                width: 33px;
            }
        }
    }

    .img-gear {
        display: none;
    }
}